<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="InternetBot Suite" parallel="methods" thread-count="5">

    <listeners>
        <listener class-name="com.srm.hackathon.internetbot.listeners.TestListener"/>
    </listeners>

    <test name="All Tests">
        <classes>
            <class name="com.srm.hackathon.internetbot.tests.LoginTest"/>
            <!-- Add more test classes here -->
        </classes>
    </test>

</suite>